table {
  border-collapse:collapse;
  margin-bottom: 10px;
}
th:nth-child(1) {
  width: 50px;
}
th:nth-child(2) {
  width: 200px;
}
th:nth-child(3) {
  width: 100px;
}
th, td {
  text-align: center;
  padding: 3px 10px;
  border: 1px solid #000;
}